
html {
  font-size: 14px;
  color: white;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url('F1 bilny.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
}
.navbar-brand,
.nav-link,
.footer{
    color:white;
}
.text-center .display-4 {
    color: white;
}








